<h2>Listen to a MP3 with HTML5 Audio</h2> 
<section id="audio">  
</section>  

<h2>Upload a Song</h2>
<%= form_tag upload_path, :method => "post", :multipart => true do %>
    <%= file_field_tag "mp3file[]", :accept => "audio/*", :multiple => "multiple" %><br />
    <%= submit_tag "Upload" %>
<% end %>

<section id="main">
    <h2>Download and Delete Existing MP3's</h2>  

    <table>  
    <% @songs.each_with_index do |(key, value)| %>  
        <tr>
            <td><%= "#{value[:artist].to_s} - #{key}" %></td>
            <td><%= link_to "HTML5 Audio", download_url_for("#{value[:artist].to_s} - #{key}"), :class => "html5" %></td>
            <td><%= link_to "Download", download_url_for("#{value[:artist].to_s} - #{key}") %>
            <td><%= link_to "Delete",  "songs/delete/?song=#{value[:artist].to_s} - #{key}.mp3", :confirm => 'Are you sure you want to delete ' + key + '?' %></td>
        </tr>  
    <% end %>  
    </table>
</section>

<script>
$(document).ready(function() {  
    var audioSection = $('section#audio');  
    $('a.html5').click(function() {  
  
        var audio = $('<audio>', {  
             controls : 'controls'  
        });  
  
        var url = $(this).attr('href');  
        $('<source>').attr('src', url).appendTo(audio);  
        audioSection.html(audio);  
        return false;  
    });  
});
</script>